@media screen and (min-width: 300px) {
  * {

    /* margin: 0; */
    background-color: #1f2235;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin-top:px
  }

  .header img {
    width: 8%;
    border-radius: 8px;
  }

  .headerlink a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
  }
  .container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px solid green
}

input {
  width: 200px;
  height: 25px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px
}
.text{
  /* margin-top: 10px */

}
.text p{
  padding-bottom: 0;
  color: white;
}
.sub{
  margin-left: 30px;
  border: 20px;
  height: 150px
}
.word label{
  color: white;
}
.other{
  color: white;
}
.active{
  color: black
}
